.form1
{
 margin-top: 100px;
 margin-left:80px;
 color: whitesmoke;
 font-size: xx-large;
 
}
.check-me-out
{
 color: whitesmoke;
 margin-left:20px;
}


 
.button
{
 margin-left:20px;
}
.new-account
{
    margin-left: 60px;
}
.btn-link
{
    margin-left: 60px;
}