.first-name
{
 margin-top: 100px;
 margin-left:800px;
 
}
.last-name
{
 margin-left:800px;
 
}
.id
{
 margin-left:800px;
 
}
.email
{
 margin-left:800px;
 
}
.diploma
{
 margin-top: 20px;
 margin-left:800px;
 
}
.picture
{
 margin-top: 30px;
 margin-left:800px;
 
}
 
.button
{ 
 margin-top: 40px;
 margin-left:800px;
 
}