body
{  
    background: url("https://d2v9ipibika81v.cloudfront.net/uploads/sites/25/covid-19-2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.rectangle
{
    width:400px;
    height:350px;
    background-color:black;


}
.col1
{
    margin-left: 400px;
}

.white
{
    color:white;
    text-align: center;
}
.btn-danger
{
    margin-left: 750px;
}